# Node.js
node_modules/
package-lock.json

# Playwright test results
test-results/
playwright-report/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code
.vscode/

# OS
.DS_Store

# Playwright
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/


/.idea/
tests/example.spec.ts
